# Aplicación
NODE_ENV= #development
PORT=#3000

# Base de datos PostgreSQL
DB_HOST= #localhost
DB_PORT= #5432
DB_USERNAME= #postgres
DB_PASSWORD= #adminAndrade
DB_DATABASE= #tienda_db

# JWT
JWT_SECRET= #un_secreto_muy_largo_y_seguro_cambiar_en_produccion
JWT_EXPIRES_IN= #7d